:root {
  --gradient: linear-gradient(
    45deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
    );
}

#main-showcase{
  min-height: 520px;
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 13s infinite alternate;
  color: #fff;
}
@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

#main-showcase h1{
  margin: auto;
  padding-top: 150px;
  font-size: 70px;
}
#main-showcase p{
  font-size: 23px;

}
#main-showcase i, small{
  display: inline-block;
  float: left;
}
#main-showcase small{
  padding-left: 10px;
  padding-top: 7px;
}

.custom-back-button{
  text-decoration: none;
  color: #fff;
}



table{
  border-radius: 15px;
  border-color: red;
  margin: 10px;
  margin-bottom: 15px;
  padding: 10px;
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  width:95%;
  border-collapse: collapse;
  color: #fff;
  -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, 15px 15px 0px 0px #A1D8FF, 5px 5px 15px 5px rgba(0,0,0,0);
}
th{
  font-weight: 200;
}
th, td{
  /*border: .5px solid #505050;*/
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
}
td img{
  width: 50px;
  display: inline;
  vertical-align: middle;
}
td p{
  display: inline;
  vertical-align: middle;
}
td:nth-child(1)
{
  padding-left: 15px;
}
td:nth-child(2)
{
  max-width: 200px;
  min-width: 100px;
  font-weight: 400;
}
td:nth-child(3)
{
  text-align: center;
  max-width: 200px;
  min-width: 100px;
}
td img:nth-child(2){
  width: 50px;
}



@media(max-width: 768px){
  #main-showcase h1{
    font-size: 65px;
  }
  #main-showcase p{
    font-size: 14px;
  }
  td p{
    display:block;
  }
  #main-showcase small{
    font-size: 11px;
  }
}
