body{
  /*font-family: -apple-system, BlinkMacSystemFont, san-serif;*/
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

.container{
  width: 80%;
  margin: auto;
  overflow:hidden;
}

.container-2{
  margin: auto;
  overflow: hidden;
  width: 65%;
}

/* back button */
.back-button{
  padding-top: 100px;
  color: #007AFF;
  text-decoration: none;
}

header{
  background:#151617;
  color:#ffffff;
  padding-top:20px;
  min-height:70px;
  font-weight:100;
}

header a{
  color:#ffffff;
  text-decoration: none;
  position: relative;
}

nav a{ /* nav buttons */
  position: relative;
  text-decoration: none;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header nav{
  float:right;
  margin-top:10px;
}

#DG-title{
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 34px;
  float:left;
  padding-top: 10px;
  margin:0;
}

.colorbar{
  text-align:center;
  width:100%;
  margin:auto;
  overflow:hidden;
  padding-bottom:5px;
  background: /* gradient can be an image */
    linear-gradient(
      to left,
      rgba(0,0,70,1) 0%,
      rgba(14,90,145,1) 33%,
      rgba(23,180,234,1) 75%
    )
    left
    bottom
    #777
    no-repeat;
  background-size:100% 5px ;

}

.current-page{
  font-weight: bold;
}

nav a{
  position: relative;
}
nav a:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width:100%;
  left:0;
}

/* social-media icons */
footer a{
  padding: 20px;
  text-decoration: none;
}
footer img:hover{
  opacity: 50;
}

#under-construction img{
  display: block;
  margin: auto;
  width: 30%;
}
#under-construction p{
  text-align: center;
}
#under-construction .hd{
  font-size: 32px;
  font-weight: 700;
}

.about-me img{
  padding-top: 30px;
  display: block;
  margin: auto;
}
.about-me p{
  font-size: 20px;
}

.social-media-half1{
  display: inline;
}
.social-media-half2{
  display: inline;
}
.coded-with-love-line{
  padding: 30px;
}
.coded-with-love-line img{
  display: inline;
  height: 17px;
  width: 30px;
  padding-right: 2px;
}
.coded-with-love-line p{
  display: inline;
}

/* portfolio page */
.portfolio-icons{
  width: 70%;
  margin-left: auto;
  margin-right: 100px;
}
.portfolio-icons a{
  text-decoration: none;
  /*padding: 20px; */
}
.portfolio-icons img{
  padding-right: 20px;
}

/* skills-page */
.skills ul{
  list-style-type: none;

}
.skills li{
  padding: 10px;
  display: table;

}
.skills img{
  padding: 10px;
  padding-right: 25px;
  width: 60px;
  display: table-cell;
  vertical-align: middle;
}
.skills p{
  display: table-cell;
  font-size: 30px;
  vertical-align: middle;
}
.skills{
  display: inline;
}
.prog-lang-section, .pro-apps-section, .iwork-section, .office-section, .google-section, .os-section, .communication-section, .scripting-cmd-section, .certifications-section, .pm-section{
  padding: 15px;
  display: inline-grid;
}
#skl-small{
  font-size: 15px;
}

/* cards */
.cards{


}
.card{
  display: inline-block;
  width: 320px;
  height: 430px;
  border-radius: 35px;
  margin: 25px;
  background: #FFFFFF;
  box-shadow: 0 9px 12px 3px rgba(0,0,0,0.50);
  vertical-align: middle;
}
.card-img img{
  /*width: 320px;
  height: 245;*/
  max-width: 100%;
  height: 180px;
  border-radius: 35px 35px 0px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.card-des{
  margin-left: 20px;
  margin-right: 20px;
}
.card-des a{
  color: #407aff;
  text-decoration: none;
  float: left;
}

/* articles */
.article{
  font-size: 21px;
}
.article p{
  line-height: 1.6;
}
.article img{
  width: 40%;
  display: block;
  margin: auto;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color: #151617;
  text-align: center;
  font-weight: medium;
  font-size: 15pt;
}


@media(max-width: 768px){
  .containter{
    width:90%;
  }
  .container-2{
    width:90%;
  }
  #DG-title, header nav, header nav li {
    display:inline-block;
    padding: 3px;;
    text-align: center;
    float: none;
    width: 98%;
  }
  nav ul{
    padding:5px;
    margin:0;
  }
  nav{
    margin:0;
  }

  #under-construction img{
    width:250px;
  }

  .about-me p{
    font-size: 12pt;
  }

  .social-media{
    display:block;
  }
  .social-media-half2{
    display:block;
    padding-top: 15px;
  }


  .portfolio-icons{
    width: 95%;
  }
  .portfolio-icons img{
    width: 315px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    padding-bottom: 20px;
  }


  .skills img{
    width: 43px;
  }
  .skills p{
    font-size: 30px;
  }

  .card{
    width: 290px;
    height: 430px;
    border-radius: 35px;

  }
  .card-img img{
    width: 290px;
    height: 245;
    border-radius: 35px 35px 0px 0px;
  }

  .article{
    font-size: 17px;
  }
}
