body{
  /*font-family: -apple-system, BlinkMacSystemFont, san-serif;*/
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  padding:0;
  margin:0;
  background-color:#f4f4f4;
}

.container{
  width: 80%;
  margin: auto;
  overflow:hidden;
}

.container-2{
  margin: auto;
  overflow: hidden;
  width: 65%;
}

/* back button */
.back-button{
  padding-top: 100px;
  color: #007AFF;
  text-decoration: none;
}

header{
  background:#151617;
  color:#ffffff;
  padding-top:20px;
  min-height:70px;
  font-weight:100;
}

header a{
  color:#ffffff;
  text-decoration: none;
  position: relative;
}

nav a{ /* nav buttons */
  position: relative;
  text-decoration: none;
}

header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header nav{
  float:right;
  margin-top:10px;
}

#DG-title{
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 34px;
  float:left;
  padding-top: 10px;
  margin:0;
}

.colorbar{
  text-align:center;
  width:100%;
  margin:auto;
  overflow:hidden;
  padding-bottom:5px;
  background: /* gradient can be an image */
    linear-gradient(
      to left,
      rgba(0,0,70,1) 0%,
      rgba(14,90,145,1) 33%,
      rgba(23,180,234,1) 75%
    )
    left
    bottom
    #777
    no-repeat;
  background-size:100% 5px ;
}

/* Home Page */
#home-main{
  min-height: 600px;
  /*background: #3C4042;*/
  background-image: url("/img/home/showcase.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size:cover;
}
#home-main h1{
  padding: 300px 0;
  font-size: 4em;
  /*background: linear-gradient(90deg, #4491C7, #3FF198);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;*/
  color: #fff;
  text-align: center;
  background-size: 100%;
}

#resume-section{
  padding-top: 20px;
  padding-bottom: 20px;
}
#resume-section p, a{
  text-align: center
}
.res-download{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
}
.res-download a{
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.res-download a:hover, .res-download a:focus, .res-download a:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#resume-section a{
  font-size: 2em;
  text-decoration: none;
  color: #fff;
  background:linear-gradient(90deg, #4491C7, #3FF198);
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 13px;
}
.resume-notice{
  width:500px;
  color: #000;
  background-color: #f4e7ae;
  padding: 10px;
  border-radius: 15px;;
  margin-left: auto;
  margin-right: auto;
}
#resume-section p{
  font-size: 13px;
}


#home-contact-us{
  min-height: 400px;
}
.contact-us-box{
  width: 500px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(42,54,59, 0.5);
  opacity: 50%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}
#submission-success-box{
  width: 250px;
  background-color: #00b200;
  color: #fff;
  margin: 0 auto;
  padding: 2px;
  border-radius: 13px;
  align-items: center;
  display: none;
}

#submission-success-box p{
  color: #fff;
  text-align: center;
  font-size: 15px;
}
.contact-us-box form{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-us-box label{
  display: block;
}
.contact-us-box button{
  width: 75px;
  height: 30px;
  background-color: #151617;
  color: #fff;
}
.contact-us-box input{
  margin-top: 5px;
  height: 20px;
}


.current-page{
  font-weight: bold;
}

nav a{
  position: relative;
}
nav a:after{
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width:100%;
  left:0;
}

/* social-media icons */
footer a{
  padding: 20px;
  text-decoration: none;
}
footer img:hover{
  opacity: 50;
}

#under-construction img{
  display: block;
  margin: auto;
  width: 30%;
}
#under-construction p{
  text-align: center;
}
#under-construction .hd{
  font-size: 32px;
  font-weight: 700;
}

.about-me img{
  padding-top: 30px;
  display: block;
  margin: auto;
}
.about-me p{
  font-size: 20px;
}
iframe{
  width: 50%;
  margin: 0 auto;
}
.app{
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  max-width: 200px;
}
.app img{
  width: 125px;
  border-radius: 25px;
}
.app b{
  padding-top: 10px;
  display: block;
  font-size: 1.2em;
}
.app a{
  color: #007AFF;
  text-decoration: none;
}

.social-media-half1{
  display: inline;
}
.social-media-half2{
  display: inline;
}
.social-media img{
  width: 50px;
}
.coded-with-love-line{
  padding: 30px;
}
.coded-with-love-line img{
  display: inline;
  height: 17px;
  width: 30px;
  padding-right: 2px;
}
.coded-with-love-line p{
  display: inline;
}

/* portfolio page */
.portfolio-icons a {
  margin: 25px;
}
.portfolio-icons img{
  padding-bottom: 10px;
}

/* skills-page */
.skills ul{
  list-style-type: none;

}
.skills li{
  padding: 10px;
  display: table;
}
.skills img{
  padding: 10px;
  padding-right: 25px;
  width: 60px;
  display: table-cell;
  vertical-align: middle;
}
.skills p{
  display: table-cell;
  font-size: 30px;
  vertical-align: middle;
}
.skills{
  display: inline;
}
.prog-lang-section, .pro-apps-section, .iwork-section, .office-section, .google-section, .os-section, .communication-section, .scripting-cmd-section, .certifications-section, .pm-section{
  padding: 15px;
  display: inline-grid;
}
#skl-small{
  font-size: 15px;
}

/* cards */
.cards{


}
.card{
  display: inline-block;
  width: 320px;
  height: 430px;
  border-radius: 35px;
  margin: 25px;
  background: #FFFFFF;
  box-shadow: 0 9px 12px 3px rgba(0,0,0,0.50);
  vertical-align: middle;
}
.card-img img{
  /*width: 320px;
  height: 245;*/
  max-width: 100%;
  height: 180px;
  border-radius: 35px 35px 0px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.card-des{
  margin-left: 20px;
  margin-right: 20px;
}
.card-des a{
  color: #407aff;
  text-decoration: none;
  float: left;
}

/* articles */
.article{
  font-size: 21px;
}
.article p{
  line-height: 1.6;
}
.article img{
  width: 40%;
  display: block;
  margin: auto;
}

/* design (still to be migrated) */
#design-imgs img{
  margin: 20px;
  width: 400px;;
}
#design-disclaimer{
  background-color: #2E2E2E;
  color: #fff;
}
#design-tools img{
  padding-top:15px;
  width:150px;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color: #151617;
  text-align: center;
  font-weight: medium;
  font-size: 15pt;
}


@media(max-width: 768px){
  .containter{
    width:90%;
  }
  .container-2{
    width:90%;
  }
  #DG-title, header nav, header nav li {
    display:block;
    padding: 3px;;
    text-align: center;
    float: none;
    width: 98%;
  }
  nav ul{
    padding:5px;
    margin:0;
  }
  nav{
    margin:0;
  }

  #home-main{
    height: 500px;

  }
  #home-main h1{
    padding: 200px 0;
    font-size: 3em;
  }
  .resume-notice{
    width: 95%;
  }

  .contact-us-box{
    width: 85%;
  }

  #under-construction img{
    width:250px;
  }

  .about-me p{
    font-size: 12pt;
  }

  .social-media{
    display:block;
  }

  .social-media-half2{
    display:block;
    padding-top: 15px;
  }

  .portfolio-icons{
  }
  .portfolio-icons a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .portfolio-icons img{
    width: 300px;

  }

  .skills img{
    width: 43px;
  }
  .skills p{
    font-size: 30px;
  }

  .app{
    max-width: 95%;
  }

  .card{
    width: 290px;
    height: 430px;
    border-radius: 35px;

  }
  .card-img img{
    width: 290px;
    height: 245;
    border-radius: 35px 35px 0px 0px;
  }

  .article{
    font-size: 17px;
  }

  #design-imgs img{
    width: 95%;
  }
}
